In [1]:
import pandas as pd
import numpy as np

In [ ]:
taxi0 = pd.read_csv('Taxi_Data.csv',index_col=0)
taxi = taxi0[taxi0.Location_ID !=0]
uber2014 = pd.read_csv('Uber-2014.csv',index_col=0)
uber2015 = pd.read_csv('Uber-2015.csv',index_col=0)

In [ ]:
uber2014 = pd.read_csv('Uber-2014.csv',index_col=0)
#uber2015 = pd.read_csv('Uber-2015.csv',index_col=0)

In [ ]:
print taxi2015.shape,taxi2014.shape

In [ ]:
uber2014.head()

In [ ]:
u14_id = uber2014.groupby(['Location_ID']).count()

In [ ]:
u14_id_heat = pd.DataFrame(u14_id)

In [ ]:
u14_id_heat = u14_id_heat[u14_id_heat.columns[:1]]

In [ ]:
u14_id_heat.to_csv('u14.csv')

In [2]:
haha = pd.read_csv('uber_distribution.csv')

In [4]:
haha

     Unnamed: 0  Location_ID_new    Count
0             0                1    15760
1             1                2     3668
2             2                3     3040
3             3                4     6251
4             4                5   278256
5             5                6    11260
6             6                8     1953
7             7               10    36749
8             8               11    12882
9             9               12     1806
10           10               13    17802
11           11               15  1044279
12           12               16     3588
13           13               17      369
14           14               18     8880
15           15               19    14054
16           16               20    10926
17           17               21    12645
18           18               22     7149
19           19               23   406319
20           20               24    17493
21           21               26    74649
22           22               27     3990
23           23               30     3598
24           24               31        2
25           25               32    12370
26           26               33  1498497
27           27               34   457180
28           28               35     3011
29           29               36     4294
..          ...              ...      ...
131         131              155   159731
132         132              157     9889
133         133              158   414087
134         134              159    59136
135         135              161     6870
136         136              163   162438
137         137              164   895642
138         138              165   407591
139         139              166     5801
140         140              167    10609
141         141              168   130281
142         142              170    11666
143         143              171     1416
144         144              172    13192
145         145              173     4979
146         146              176   115205
147         147              177      773
148         148              180    85637
149         149              181     5189
150         150              182   289169
151         151              183    15382
152         152              185      614
153         153              186      511
154         154              187      662
155         155              188     3026
156         156              189   141617
157         157              191   101828
158         158              192   143451
159         159              193   343286
160         160              194   357442

[161 rows x 3 columns]

In [5]:
haha[haha['Location_ID_new'] == 1]['Count']

0    15760
Name: Count, dtype: int64

In [6]:
ID_count = np.zeros(195)

In [7]:
for i in range(195):
    if i+1 in haha['Location_ID_new'].tolist():
        ID_count[i] = haha[haha['Location_ID_new'] == i+1]['Count']
    else:
        ID_count[i] = 0

In [8]:
type(ID_count)

numpy.ndarray

In [12]:
ids= ID_count.tolist()
ids

[15760.0,
 3668.0,
 3040.0,
 6251.0,
 278256.0,
 11260.0,
 0.0,
 1953.0,
 0.0,
 36749.0,
 12882.0,
 1806.0,
 17802.0,
 0.0,
 1044279.0,
 3588.0,
 369.0,
 8880.0,
 14054.0,
 10926.0,
 12645.0,
 7149.0,
 406319.0,
 17493.0,
 0.0,
 74649.0,
 3990.0,
 0.0,
 0.0,
 3598.0,
 2.0,
 12370.0,
 1498497.0,
 457180.0,
 3011.0,
 4294.0,
 5681.0,
 3229.0,
 5225.0,
 11232.0,
 6579.0,
 9042.0,
 0.0,
 776927.0,
 34290.0,
 6203.0,
 21609.0,
 54830.0,
 11025.0,
 183716.0,
 0.0,
 11388.0,
 217938.0,
 0.0,
 3715.0,
 6552.0,
 15619.0,
 29325.0,
 19951.0,
 90648.0,
 252805.0,
 77653.0,
 15837.0,
 3051.0,
 2802.0,
 9325.0,
 373100.0,
 11314.0,
 31512.0,
 54928.0,
 89762.0,
 46445.0,
 0.0,
 5199.0,
 198161.0,
 19711.0,
 11014.0,
 0.0,
 41370.0,
 0.0,
 778696.0,
 473751.0,
 11798.0,
 27253.0,
 4179.0,
 3559.0,
 18865.0,
 238618.0,
 114.0,
 182.0,
 25198.0,
 14201.0,
 4549.0,
 156139.0,
 123767.0,
 1320.0,
 548.0,
 8996.0,
 6301.0,
 18222.0,
 16338.0,
 11901.0,
 15537.0,
 170.0,
 219.0,
 8896.0,
 2775.0,
 20369.0,
 10734.0,
 0.0,
 8314.0,
 43308.0,
 0.0,
 2209.0,
 90870.0,
 5431.0,
 4031.0,
 2786.0,
 2867.0,
 7292.0,
 0.0,
 6154.0,
 0.0,
 35927.0,
 0.0,
 31084.0,
 3848.0,
 0.0,
 414.0,
 1375.0,
 823.0,
 692.0,
 3103.0,
 46610.0,
 435.0,
 0.0,
 4434.0,
 5164.0,
 0.0,
 26.0,
 0.0,
 24.0,
 25011.0,
 241968.0,
 0.0,
 5184.0,
 39490.0,
 26280.0,
 838989.0,
 0.0,
 8.0,
 5465.0,
 20475.0,
 118640.0,
 159731.0,
 0.0,
 9889.0,
 414087.0,
 59136.0,
 0.0,
 6870.0,
 0.0,
 162438.0,
 895642.0,
 407591.0,
 5801.0,
 10609.0,
 130281.0,
 0.0,
 11666.0,
 1416.0,
 13192.0,
 4979.0,
 0.0,
 0.0,
 115205.0,
 773.0,
 0.0,
 0.0,
 85637.0,
 5189.0,
 289169.0,
 15382.0,
 0.0,
 614.0,
 511.0,
 662.0,
 3026.0,
 141617.0,
 0.0,
 101828.0,
 143451.0,
 343286.0,
 357442.0,
 0.0]

In [ ]:
ids = pd.DataFrame(ids, index= None)

In [27]:
x = []
for i in xrange(1,195):
    x.append(i)
x = pd.DataFrame(x)

In [39]:
result = pd.concat([x, ids], axis=1, ignore_index=True)

In [37]:
result = pd.DataFrame(result)#,columns=['id','ct'])

In [42]:
result.columns = ['id','cts']

In [44]:
result.to_csv('u14.csv')

In [7]:
t_dist = pd.read_csv('Taxi_distribution.csv')
t_dist.drop('Unnamed: 0', axis=1, inplace=True)

In [11]:
t_dist1 = t_dist.groupby(['Location_ID_new'])['Count'].sum()

Location_ID_new
1          1176
2           634
3           216
4           349
5       1741819
6          2805
8          3911
9           191
10        54542
11         1933
12          260
13       217857
15      4221798
16         1587
17        24834
18          303
19         1588
20       158388
21         2159
22         2100
23      1884688
24          542
26        48208
27          273
30          544
31           41
32        13759
33     10830769
34      3593060
35       511159
         ...
155      238346
157        4033
158     4702596
159       36955
161         856
163      906478
164     6650567
165     1722372
166        1662
167        2533
168       24242
170        1770
171         908
172        1002
173         549
176      780018
177         107
180       86107
181         756
182     1483152
183         925
185          64
186         165
187         171
188        1424
189       43426
191      522747
192      825121
193     3057498
194     4440286
Name: Count, dtype: float64

In [18]:
yo = pd.DataFrame(t_dist1)

In [ ]:
yo.to_csv('taxi_dist.csv')

In [24]:
ya = pd.read_csv('taxi_dist.csv')
ya

     Location_ID_new     Count
0                  1      1176
1                  2       634
2                  3       216
3                  4       349
4                  5   1741819
5                  6      2805
6                  8      3911
7                  9       191
8                 10     54542
9                 11      1933
10                12       260
11                13    217857
12                15   4221798
13                16      1587
14                17     24834
15                18       303
16                19      1588
17                20    158388
18                21      2159
19                22      2100
20                23   1884688
21                24       542
22                26     48208
23                27       273
24                30       544
25                31        41
26                32     13759
27                33  10830769
28                34   3593060
29                35    511159
..               ...       ...
132              155    238346
133              157      4033
134              158   4702596
135              159     36955
136              161       856
137              163    906478
138              164   6650567
139              165   1722372
140              166      1662
141              167      2533
142              168     24242
143              170      1770
144              171       908
145              172      1002
146              173       549
147              176    780018
148              177       107
149              180     86107
150              181       756
151              182   1483152
152              183       925
153              185        64
154              186       165
155              187       171
156              188      1424
157              189     43426
158              191    522747
159              192    825121
160              193   3057498
161              194   4440286

[162 rows x 2 columns]

In [26]:
ID_count = np.zeros(195)
for i in range(195):
    if i+1 in ya['Location_ID_new'].tolist():
        ID_count[i] = ya[ya['Location_ID_new'] == i+1]['Count']
    else:
        ID_count[i] = 0

In [29]:
idss = ID_count.tolist()
idss = pd.DataFrame(idss, index= None)

           0
0       1176
1        634
2        216
3        349
4    1741819
5       2805
6          0
7       3911
8        191
9      54542
10      1933
11       260
12    217857
13         0
14   4221798
15      1587
16     24834
17       303
18      1588
19    158388
20      2159
21      2100
22   1884688
23       542
24         0
25     48208
26       273
27         0
28         0
29       544
..       ...
165     1662
166     2533
167    24242
168        0
169     1770
170      908
171     1002
172      549
173        0
174        0
175   780018
176      107
177        0
178        0
179    86107
180      756
181  1483152
182      925
183        0
184       64
185      165
186      171
187     1424
188    43426
189        0
190   522747
191   825121
192  3057498
193  4440286
194        0

[195 rows x 1 columns]

In [30]:
res = pd.concat([x, idss], axis=1, ignore_index=True)

In [32]:
res.columns = ['id','cts']

In [34]:
res.to_csv('taxi_dist_heat.csv')

In [35]:
da = pd.read_csv('Uber_distribution_2014.csv')

In [36]:
da.head()

   Unnamed: 0  Location_ID_new  Count
0           0                1   1668
1           1                2    871
2           2                3    476
3           3                4    739
4           4                5  95772

In [37]:
ID_count = np.zeros(195)
for i in range(195):
    if i+1 in da['Location_ID_new'].tolist():
        ID_count[i] = da[da['Location_ID_new'] == i+1]['Count']
    else:
        ID_count[i] = 0

In [38]:
ss = ID_count.tolist()
ss = pd.DataFrame(ss, index= None)
es = pd.concat([x, ss], axis=1, ignore_index=True)
es.columns = ['id','cts']
es.to_csv('ub14.csv')

In [56]:
ub14 = pd.read_csv('ub14.csv')

In [57]:
ub14.sort(columns='cts', inplace=True)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [58]:
target = np.zeros(len(ub14))
j = 1
for i in range(len(ub14)):
    if ub14.iloc[i, 2] == 0:
        target[i] = j
    else:
        if i%10 == 0:
            j+=1
            target[i] = j
        else:
            target[i] = j

In [59]:
ub14['cc'] = target

In [60]:
ub14.sort(columns='id',inplace=True)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [62]:
ub14.to_csv('ub14haha.csv')

In [52]:
ub14.id = 182
ub14

     Unnamed: 0   id     cts  cc
0             0  182    1668   8
1             1  182     871   5
2             2  182     476   4
3             3  182     739   5
4             4  182   95772  16
5             5  182    1184   7
6             6  182       0   1
7             7  182   10819  13
8             8  182       0   1
9             9  182    5493  11
10           10  182     821   5
11           11  182     391   3
12           12  182   11544  13
13           13  182       0   1
14           14  182  313496  17
15           15  182    2791  10
16           16  182    4637  11
17           17  182     810   5
18           18  182    1947   9
19           19  182   13265  13
20           20  182    2490  10
21           21  182    5734  12
22           22  182   86609  15
23           23  182     937   6
24           24  182       0   1
25           25  182   21062  14
26           26  182     502   4
27           27  182       0   1
28           28  182       0   1
29           29  182     926   6
..          ...  ...     ...  ..
165         165  182    1082   6
166         166  182    1536   8
167         167  182   17680  13
168         168  182       0   1
169         169  182    2462   9
170         170  182    1542   8
171         171  182    1457   7
172         172  182     530   4
173         173  182       0   1
174         174  182       0   1
175         175  182   29588  14
176         176  182      42   1
177         177  182       0   1
178         178  182       0   1
179         179  182   14060  13
180         180  182     911   6
181         181  182  104173  16
182         182  182    1787   8
183         183  182       0   1
184         184  182      80   2
185         185  182     150   2
186         186  182     240   2
187         187  182    2707  10
188         188  182    5595  12
189         189  182       0   1
190         190  182   18328  13
191         191  182   27550  14
192         192  182   88635  15
193         193  182  167267  16
194         194  182       0   1

[195 rows x 4 columns]