In [1]:
import pandas as pd
import numpy as np

In [ ]:
taxi0 = pd.read_csv('Taxi_Data.csv',index_col=0)
taxi = taxi0[taxi0.Location_ID !=0]
uber2014 = pd.read_csv('Uber-2014.csv',index_col=0)
uber2015 = pd.read_csv('Uber-2015.csv',index_col=0)

In [ ]:
uber2014 = pd.read_csv('Uber-2014.csv',index_col=0)
#uber2015 = pd.read_csv('Uber-2015.csv',index_col=0)

In [ ]:
print taxi2015.shape,taxi2014.shape

In [ ]:
uber2014.head()

In [ ]:
u14_id = uber2014.groupby(['Location_ID']).count()

In [ ]:
u14_id_heat = pd.DataFrame(u14_id)

In [ ]:
u14_id_heat = u14_id_heat[u14_id_heat.columns[:1]]

In [ ]:
u14_id_heat.to_csv('u14.csv')

In [2]:
haha = pd.read_csv('uber_distribution.csv')

In [4]:
haha

     Unnamed: 0  Location_ID_new    Count
0             0                1    15760
1             1                2     3668
2             2                3     3040
3             3                4     6251
4             4                5   278256
5             5                6    11260
6             6                8     1953
7             7               10    36749
8             8               11    12882
9             9               12     1806
10           10               13    17802
11           11               15  1044279
12           12               16     3588
13           13               17      369
14           14               18     8880
15           15               19    14054
16           16               20    10926
17           17               21    12645
18           18               22     7149
19           19               23   406319
20           20               24    17493
21           21               26    74649
22           22               27     3990
23           23               30     3598
24           24               31        2
25           25               32    12370
26           26               33  1498497
27           27               34   457180
28           28               35     3011
29           29               36     4294
..          ...              ...      ...
131         131              155   159731
132         132              157     9889
133         133              158   414087
134         134              159    59136
135         135              161     6870
136         136              163   162438
137         137              164   895642
138         138              165   407591
139         139              166     5801
140         140              167    10609
141         141              168   130281
142         142              170    11666
143         143              171     1416
144         144              172    13192
145         145              173     4979
146         146              176   115205
147         147              177      773
148         148              180    85637
149         149              181     5189
150         150              182   289169
151         151              183    15382
152         152              185      614
153         153              186      511
154         154              187      662
155         155              188     3026
156         156              189   141617
157         157              191   101828
158         158              192   143451
159         159              193   343286
160         160              194   357442

[161 rows x 3 columns]

In [5]:
haha[haha['Location_ID_new'] == 1]['Count']

0    15760
Name: Count, dtype: int64

In [6]:
ID_count = np.zeros(195)

In [7]:
for i in range(195):
    if i+1 in haha['Location_ID_new'].tolist():
        ID_count[i] = haha[haha['Location_ID_new'] == i+1]['Count']
    else:
        ID_count[i] = 0

In [8]:
type(ID_count)

numpy.ndarray

In [12]:
ids= ID_count.tolist()
ids

[15760.0,
 3668.0,
 3040.0,
 6251.0,
 278256.0,
 11260.0,
 0.0,
 1953.0,
 0.0,
 36749.0,
 12882.0,
 1806.0,
 17802.0,
 0.0,
 1044279.0,
 3588.0,
 369.0,
 8880.0,
 14054.0,
 10926.0,
 12645.0,
 7149.0,
 406319.0,
 17493.0,
 0.0,
 74649.0,
 3990.0,
 0.0,
 0.0,
 3598.0,
 2.0,
 12370.0,
 1498497.0,
 457180.0,
 3011.0,
 4294.0,
 5681.0,
 3229.0,
 5225.0,
 11232.0,
 6579.0,
 9042.0,
 0.0,
 776927.0,
 34290.0,
 6203.0,
 21609.0,
 54830.0,
 11025.0,
 183716.0,
 0.0,
 11388.0,
 217938.0,
 0.0,
 3715.0,
 6552.0,
 15619.0,
 29325.0,
 19951.0,
 90648.0,
 252805.0,
 77653.0,
 15837.0,
 3051.0,
 2802.0,
 9325.0,
 373100.0,
 11314.0,
 31512.0,
 54928.0,
 89762.0,
 46445.0,
 0.0,
 5199.0,
 198161.0,
 19711.0,
 11014.0,
 0.0,
 41370.0,
 0.0,
 778696.0,
 473751.0,
 11798.0,
 27253.0,
 4179.0,
 3559.0,
 18865.0,
 238618.0,
 114.0,
 182.0,
 25198.0,
 14201.0,
 4549.0,
 156139.0,
 123767.0,
 1320.0,
 548.0,
 8996.0,
 6301.0,
 18222.0,
 16338.0,
 11901.0,
 15537.0,
 170.0,
 219.0,
 8896.0,
 2775.0,
 20369.0,
 10734.0,
 0.0,
 8314.0,
 43308.0,
 0.0,
 2209.0,
 90870.0,
 5431.0,
 4031.0,
 2786.0,
 2867.0,
 7292.0,
 0.0,
 6154.0,
 0.0,
 35927.0,
 0.0,
 31084.0,
 3848.0,
 0.0,
 414.0,
 1375.0,
 823.0,
 692.0,
 3103.0,
 46610.0,
 435.0,
 0.0,
 4434.0,
 5164.0,
 0.0,
 26.0,
 0.0,
 24.0,
 25011.0,
 241968.0,
 0.0,
 5184.0,
 39490.0,
 26280.0,
 838989.0,
 0.0,
 8.0,
 5465.0,
 20475.0,
 118640.0,
 159731.0,
 0.0,
 9889.0,
 414087.0,
 59136.0,
 0.0,
 6870.0,
 0.0,
 162438.0,
 895642.0,
 407591.0,
 5801.0,
 10609.0,
 130281.0,
 0.0,
 11666.0,
 1416.0,
 13192.0,
 4979.0,
 0.0,
 0.0,
 115205.0,
 773.0,
 0.0,
 0.0,
 85637.0,
 5189.0,
 289169.0,
 15382.0,
 0.0,
 614.0,
 511.0,
 662.0,
 3026.0,
 141617.0,
 0.0,
 101828.0,
 143451.0,
 343286.0,
 357442.0,
 0.0]

In [ ]:
ids = pd.DataFrame(ids, index= None)

In [31]:
x = []
for i in xrange(1,195):
    x.append(i)
x = pd.DataFrame(x)

In [39]:
result = pd.concat([x, ids], axis=1, ignore_index=True)

In [37]:
result = pd.DataFrame(result)#,columns=['id','ct'])

In [ ]:
result = pd.DataFrame(result)#, columns=['no','ids','counts','c'])

In [42]:
result.columns = ['id','cts']